.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    list-style: none;
    margin: 0 auto;
    margin-block: 0;
    margin-inline: 0;
    padding-inline: 0;
    padding: 5px;
    background: #24a4e1;
}

.card-item {
    width: 3.1875rem;
    background: white;
    padding: 10px 5px;
    margin: 1px;
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
}

/* 如果最后一行是4个元素 */
.card-item:last-child:nth-child(5n - 1) {
    margin-right: calc(19% + 5% / 4);
}

/* 如果最后一行是3个元素 */
.card-content:last-child:nth-child(5n - 2) {
    margin-right: calc(38% + 10% / 4);
}

/* 如果最后一行是2个元素 */
.card-content:last-child:nth-child(5n - 3) {
    margin-right: calc(57% + 15% / 4);
}

.adm-progress-bar-text {
    width: 80px;
}